* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/*Main*/

.leaflet-container {
  width: 100%;
  height: 75vh;

  @media (max-width: 768px) {
    height: 50vh;
    width: 100%;
  }

  @media (max-width: 440px) {
    width: 47vh;
    height: 40vh;
  }
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

}

th {
  background-color: #f2f2f2;
  text-align: left;
  border: 1px solid #dddddd;
  padding: 4px;

  @media (max-width: 768px) {
    font-size: 12px;
    text-align: left;
  }
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;

  @media (max-width: 768px) {
    font-size: 11px;
    text-align: left;
    word-wrap: break-word;        
    overflow-wrap:break-word;

  }
}

td:hover {
  background-color: #f1f1f169;
}

/*Nome, KG, Endereço*/
.userInputs {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  outline: none;
}

/*Busca*/
.searchButton {
  color: rgb(34, 31, 31);
  padding: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/*Busca*/
.searchButton svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: rgb(12, 11, 11);
}
/*Busca*/
.searchButton:focus svg {
  animation: spin_357 0.5s linear;
}
/*Busca*/
@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Latitude / Longitude*/
.latLong {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  outline: none;

  @media (max-width: 700px) {
    width: 100%;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

/*Botão de adicionar*/
.styledButton {
  color: rgb(34, 31, 31);
  padding: 10px;
  outline: none;
  cursor: pointer;
  margin: 3px;
  border: 1px solid #ddd;
  transition: all 0.5s ease-in-out;


}

/*Botão de adicionar*/
.styledButton:hover {
  background-color: #f1f1f1b4;
}
